{% extends "priority_planners/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h1><a href="{% url 'priority_planners:goal' goal.id %}">{{ goal }}</a></h1>
    <h2>Edit goal:</h2>
{% endblock page_header %}

{% block content %}

    <form action="{% url 'priority_planners:edit_goal' goal.id %}" method='post'>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">Save goal</button>
        {% endbuttons %}
    </form>

{% endblock content %}