{% extends 'priority_planners/base.html' %}

{% block page_header %}
    <h1>Goal: {{ goal }}{% if goal.date_completed is not None %} Finished:
        {{ goal.date_completed|date:'M d, Y H:i' }}}{% endif %}</h1>
    <h3>
        <a href="{% url 'priority_planners:edit_goal' goal.id %}">Edit</a>  -
        <a href="{% url 'priority_planners:finish_goal' goal.id %}">Finish</a>  -
        <a href="{% url 'priority_planners:delete_goal' goal.id %}">Delete</a>
    </h3>
    <p>{{ goal.text }}</p>
{% endblock page_header %}

{% block content %}

    <h2>Updates:</h2>
    <ul>
        {% for update in updates %}
        <li><h3>
            {{ update.date_added|date:'M d, Y' }}:
            <a href="{% url 'priority_planners:update' update.id %}">{{ update }}</a>
        </h3></li>
        {% empty %}
            <h3>There are no updates for this goal yet.</h3>
        {% endfor %}
        <h3>
        <a href="{% url 'priority_planners:new_update' goal.id %}">Add new update</a>
        </h3>
    </ul>


{% endblock content %}