{% extends "priority_planners/base.html" %}

{% block content %}

    <p>Goals</p>

    <ul>
        {% for goal, updates in goals %}
            <a href="{% url 'priority_planners:goal' goal.id %}">{{ goal }}</a>
            {% for update in updates %}
                <p>{{ update.date_added|date:'M d, Y H:i' }} {{ update }}</p>
            {% endfor %}
        {% empty %}
            <li>No goals have been added yet</li>
        {% endfor %}
        {% for goal, updates in finished %}
            <a href="{% url 'priority_planners:goal' goal.id %}">{{ goal }}</a>
            {% for update in updates %}
                <p>{{ update.date_added|date:'M d, Y H:i' }} {{ update }}</p>
            {% endfor %}
        {% endfor %}
    </ul>

{% endblock content %}