{% extends "priority_planners/base.html" %}

{% block content %}

    <p>Goals:</p>

    <a href="{% url 'priority_planners:new_goal' %}">Add a new goal</a>

    <ul>
        {% for goal, updates in goals %}
            <p><a href="{% url 'priority_planners:goal' goal.id %}">{{ goal }}</a></p>
            {% for update in updates %}
                <li><p>{{ update.date_added|date:'M d, Y' }}:
                    <a href="{% url 'priority_planners:update' update.id %}">{{ update }}</a>
                </li></p>
            {% endfor %}
        {% empty %}
            <li>No goals have been added yet</li>
        {% endfor %}
        <p>Finished Goals:</p>
        {% for goal, updates in finished %}
            <p><a href="{% url 'priority_planners:goal' goal.id %}">{{ goal }}</a>  Finished: {{ goal.date_completed|date:'M d, Y' }}</p>
            {% for update in updates %}
                <li><p>{{ update.date_added|date:'M d, Y' }}:
                    <a href="{% url 'priority_planners:update' update.id %}">{{ update }}</a>
                </li></p>
            {% endfor %}
        {% endfor %}
    </ul>

{% endblock content %}