{% extends 'priority_planners/base.html' %}

{% block content %}

    <p>Goal: {{ goal }}
        {% if goal.date_completed is not None %} Finished: {{ goal.date_completed|date:'M d, Y H:i' }}}{% endif %}
    </p>
    <p>{{ goal.text }}</p>
    <p>
        <a href="{% url 'priority_planners:edit_goal' goal.id %}">Edit goal</a>
    </p>
    <p>Updates:</p>
    <p>
        <a href="{% url 'priority_planners:new_update' goal.id %}">Add new update</a>
    </p>
    <ul>
        {% for update in updates %}
        <li>
            {{ update.date_added|date:'M d, Y' }}:
            <a href="{% url 'priority_planners:update' update.id %}">{{ update }}</a>
        </li>
        {% endfor %}
    </ul>
    <p>
        <a href="{% url 'priority_planners:delete_goal' goal.id %}">Delete goal</a>
    </p>

{% endblock content %}